/* #main_t-shirt_image{
    box-shadow: black;
} */

#main_t-shirt_image{width: 900px;
-webkit-filter: drop-shadow(5px 5px 5px #666666);
filter: drop-shadow(5px 5px 5px #666666);
}


.button{
    margin-left: 50%;
    transform: translate(-50%);
}

h1, h2{
    text-transform: uppercase;
    text-align: center;
}


/* #main_t-shirt_image, #site_description, form, button{
    margin-left: 50%;
    transform: translate(-50%);    
} */


/* #site_description{
    width: 600px;
} */

